section#about.about.container
  .row
    .about__heading.col-12.col-md-4
      h2.about__title.title About us
      svg.title__icon.about__icon
        use(xlink:href="./img/svg-icons.svg#user")
    .about__article.col-12.col-md-7.offset-md-1
      p.about__text Nullam quis risus eget urna #[strong mollis ornare] vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      p.about__text #[strong Morbi leo risus], porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet #[em fermentum]. Sed posuere consectetur est at lobortis.
    a.button.about__button(href="#0") Learn more