footer.footer.container-fluid
  .container
    .row.footer__layout
      a(href="#").footer__to-top
        svg.arrow--top
          use(xlink:href="./img/svg-icons.svg#arrow-top")
      .footer__copyrights
        small ©2014 #[b tulus]driyo. All Rights Reserved.
      .footer__social.social
        a.social__link(href="#0")
          svg.social__icon
            use(xlink:href="./img/svg-icons.svg#behance")
        a.social__link(href="#0")
          svg.social__icon
            use(xlink:href="./img/svg-icons.svg#linked-in")
        a.social__link(href="#0")
          svg.social__icon
            use(xlink:href="./img/svg-icons.svg#google-plus")
        a.social__link(href="#0")
          svg.social__icon
            use(xlink:href="./img/svg-icons.svg#facebook")
        a.social__link(href="#0")
          svg.social__icon
            use(xlink:href="./img/svg-icons.svg#twitter")
