//- _header.pug
section.hero.jumbotron.jumbotron-fluid.hero
  .container.h-100
    .row.h-75
      .hero__heading.col
        h1.hero__title CreativE DIGITAL Project
        p.hero__description Duis mollis, est non commodo luctus,
          br
          | nisi erat porttitor ligula, eget lacinia odio sem nec elit.

