//- _services.pug
section#services.services.container
  .row
    .services__heading.col-12.col-md-4
      h2.services__title.title Our Services
      p.services__quote “Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”
      footer #[strong - Borat -]
      svg.title__icon.services__icon
        use(xlink:href="./img/svg-icons.svg#script")
    .services__list.col-12.col-md-8
      .row
        .services__card.col-6
          h3.services__service Graphic design
          p.services__description Cras mattis consectetur purus sit amet fermentum.
          svg.services__img.title__icon
            use(xlink:href="./img/svg-icons.svg#designer-cup")
        .services__card.col-6
          h3.services__service Web development
          p.services__description Cras mattis consectetur purus sit amet fermentum.
          svg.services__img.title__icon
            use(xlink:href="./img/svg-icons.svg#vector")
        .services__card.col-6
          h3.services__service SEO & marketing
          p.services__description Cras mattis consectetur purus sit amet fermentum.
          svg.services__img.title__icon
            use(xlink:href="./img/svg-icons.svg#globe")
        .services__card.col-6
          h3.services__service mobile development
          p.services__description Cras mattis consectetur purus sit amet fermentum.
          svg.services__img.title__icon
            use(xlink:href="./img/svg-icons.svg#iphone")