//- _team.pug
section#team.team.container
  .row
    .team__heading.col-12
      h2.team__title.title Meet our team
      svg.title__icon.team__icon
        use(xlink:href="./img/svg-icons.svg#user-location")
    .team__list.col-12
      #slider--teams
        //- TODO: make mixin
        //- teammate card
        div
          .team__card
            h3.team__name Miguel Obrien
            p.team__position CEO & Founder
            .team__img
              img.team__face(src="./img/teammate1.jpg")
            footer.team__social.social
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#linked-in")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#google-plus")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#facebook")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#twitter")

        //- teammate card
        div
          .team__card
            h3.team__name Jackie Carroll
            p.team__position Art Director
            .team__img
              img.team__face(src="./img/teammate2.jpg")
            footer.team__social.social
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#behance")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#linked-in")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#google-plus")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#facebook")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#twitter")

        //- teammate card
        div
          .team__card
            h3.team__name Ida Morrison
            p.team__position Designer
            .team__img
              img.team__face(src="./img/teammate3.jpg")
            footer.team__social.social
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#behance")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#linked-in")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#google-plus")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#facebook")
              a.social__link(href="#0")
                svg.social__icon
                  use(xlink:href="./img/svg-icons.svg#twitter")


