section#works.works.container-fluid
  .container
    .row
      .works__heading.col-12
        h2.works__title.title Recent works
        svg.title__icon.works__icon
          use(xlink:href="./img/svg-icons.svg#fountain-pen-head-1")
      .works__list.col-12
        #slider--works.works__slider.col-lg-8.mx-auto
          .works__example
            img.works__img(src="./img/work-template-crop.jpg", alt="work sample")
          .works__example
            img.works__img(src="./img/work-template-crop.jpg", alt="work sample")
          .works__example
            img.works__img(src="./img/work-template-crop.jpg", alt="work sample")
          .works__example
            img.works__img(src="./img/work-template-crop.jpg", alt="work sample")
      .col-auto.mx-auto
        a(href="#0").button.works__button View Gallery
