section.works.container-fluid
  .container
    .row
      .works__heading.col-12
        h2.works__title.title Recent works
        svg.title__icon.works__icon
          use(xlink:href="./img/svg-icons.svg#fountain-pen-head-1")
      .works__list.col-12
        #slider--works.col-lg-8.mx-auto
          .works__example
            img.works__img(src="./img/work-template-crop.jpg")
          .works__example
            img.works__img(src="./img/work-template-crop.jpg")
          .works__example
            img.works__img(src="./img/work-template-crop.jpg")
          .works__example
            img.works__img(src="./img/work-template-crop.jpg")

      .col-12
        button.button.works__button View Gallery
