// about
.about {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  &__heading {
    background-image: url('../img/bg-about.jpg');
    background-position: 35% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__article {
    padding-top: 4.625rem;
    padding-bottom: 4.5rem;
  }
  &__text {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}