@mixin title($weight: 400, $size: 2.25rem) {
  font: $weight $size 'ProximaNova', sans-serif;
  text-transform: uppercase;
}
.title__icon {
  order: -1;
  width: 60px;
  height: 60px;
  margin: 2rem;
  fill: $color-font;
  flex-shrink: 0;
}
.title {
  @include title(700);
  text-align: center;
}
.button {
  display: inline-block;
  font-size: 1.25rem;
  color: inherit;
  border: 1px solid;
  border-color: inherit;
  background: transparent;
  font-style: italic;
  text-transform: capitalize;
  margin: 1rem auto;
  padding: 1rem 3rem;
  cursor: pointer;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  &:hover {
    background-color: white;
    text-decoration: none;
    color: darken($color-font, 10%);
  }
  transition: all .2s;
}

.social {
  display: flex;
  justify-content: center;
  &__link {
    border-radius: 50% 50%;
    margin: .8rem .4rem;
  }
  &__icon {
    border-radius: 50% 50%;
    max-width: 2rem;
    max-height: 2rem;
    fill: $bg-color;
  }
}