@mixin title($weight: 400, $size: 2.25rem) {
  font: $weight $size 'ProximaNova', sans-serif;
  text-transform: uppercase;
}
.title__icon {
  order: -1;
  width:  60px;
  height: 60px;
  margin: 2rem;
  fill: $color-font;
  flex-shrink: 0;
}
.title {
  @include title(700);
  text-align: center;
}
.button {
  display: inline-block;
  font-size: 1.25rem;
  color: inherit;
  border: 1px solid;
  border-color: inherit;
  background: transparent;
  font-style: italic;
  text-transform: capitalize;
  margin: 1rem auto;
  padding: .7rem 3.125rem;
  cursor: pointer;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  transition: all .5s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  &:hover {
    background-color: white;
    text-decoration: none;
    color: darken($color-font, 10%);
    transform: scale(1.2);
  }
  &:active {
    animation-name: bounceOut;
  }
}

.social {
  display: flex;
  justify-content: center;
  &__link {
    border-radius: 50% 50%;
    margin: .8rem .4rem;
  }
  &__icon {
    border-radius: 50% 50%;
    max-width: 2rem;
    max-height: 2rem;
    fill: $bg-color;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
