// services.scss
.services {
  padding-top: 0;
  @media screen and (min-width: 768px) {
    padding-top: 7.5rem;
  }
  &__heading {
    color: $color-font-inv;
    background-image: url('../img/bg-services.jpg');
    background-position: 55% 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 0;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      order: 1;
    }
  }
  &__title {
    padding-bottom: 4rem;
  }
  &__icon {
    fill: $color-font-inv;
  }
  &__quote {
    font-size: 1.125rem;
    font-style: italic;
  }
  &__card {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &:first-child {
      background-color: $bg-service;
    }
    &:last-child {
      background-color: $bg-service;
    }
  }
  &__service {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__description {
    font-size: 1.125rem;
    font-style: italic;
  }
}