.team {
  // color: $color-font-inv;
  // background-image: url('../img/bg-works.jpg');
  // background-size: cover;
  padding-bottom: 3rem;
  @media screen and (min-width: 768px) {
    padding-bottom: 6.25rem;
  }
  &__heading {
    // text-align: center;
    margin-top: 1.275rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-top: -.375rem;
    margin-bottom: 3rem;
  }
  &__list {
//     margin-left:  -15px;
//     margin-right: -15px;
  }
  &__card {
    background: $bg-card;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    color: $bg-menu-color;
    @include title(700,1.5rem);
    margin-top: 1.875rem;
  }
  &__position {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  &__img {
    background-image: linear-gradient(to bottom, $bg-color 0%, $bg-color 100%);
    background-size: 100% 50%;
    background-position: top;
    background-repeat: no-repeat;
    order: -1;
    align-self: stretch;
    padding: 0 2.5rem;
  }
  &__face {
    border: .8rem solid $bg-color;
    border-radius: 50% 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }
  &__social {
    margin-top: 2rem;
    background-color: $bg-menu-color;
    align-self: stretch;
  }
  &__arrow {
    fill: $color-font;
  }
}